<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.xian.culturaland.mapper.BaseInfoMapper" >

    <!--//查询出文地的基本信息：区域、类别、名称、位置-->
    <select id = "selectAllInfo" resultType="BaseInfo">
        select
          CulturalName,TypeId,CulturalRegion,CulturalCoordinate
        from
          tb_baseinfo
    </select>

    <!--//根据区域查询得到文地的信息-->
    <sql id="Base_Column_List">
         CulturalName,TypeId,CulturalRegion,CulturalCoordinate
    </sql>
    <select id = "selectInfoByRegion" resultType="BaseInfo">
        SELECT
        <include refid="Base_Column_List" />
        from
          tb_baseinfo WHERE CulturalRegion IN
        (${CulturalRegion})
    </select>
</mapper>


